[Unit]
Description=Tendermint Exporter
After={{cosmos_node_systemd_service}} network.target
StartLimitIntervalSec=30
StartLimitBurst=3
OnFailure=tendermint_exporter_healer.service

[Service]
User={{tendermint_exporter_user}}
Restart=always
RestartSec=10s
ExecStart={{ tendermint_exporter_bin_path }} --listen-address={{ tendermint_exporter_host }}:{{ tendermint_exporter_port }} {{ tendermint_exporter_options }}

[Install]
WantedBy=multi-user.target

